<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body {
        text-align: center;
        background-color: antiquewhite;
      }

      .box {
        width: 500px;
        background-color: whitesmoke;
        border-radius: 50px 50px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="/<%=src%>" width="300px" />
      <h3><b><%=id%>님 환영합니다!</b></h3>
      <div>비밀번호: <%=pw%></div>
      <div>이름: <%=name%></div>
      <div>나이: <%=age%></div>
    </div>
  </body>
</html>